GPS_PORT=/dev/serial/by-id/usb-FTDI_FT231X_USB_UART_*
GPS_BAUDRATE=230400

IMU_ENABLED=1
IMU_TYPE=witmotion
IMU_PORT=/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
IMU_BAUDRATE=9600

WEB_HOST=0.0.0.0
WEB_PORT=80

CAN_ENABLED=1
CAN_INTERFACE=can0
CAN_BITRATE=250000

NTRIP_ENABLED=1
NTRIP_HOST=openrtk-mv.de
NTRIP_PORT=2101
NTRIP_MOUNTPOINT=openrtk_mv_2G
NTRIP_USERNAME=your-username
NTRIP_PASSWORD=your-password
