[Unit]
Description=Sensor Hub USB-CAN (gs_usb) Classical CAN 2.0 interface at 250 kbit/s
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/local/bin/wait-can0.sh
ExecStartPre=-/usr/sbin/ip link set can0 down
ExecStart=/usr/sbin/ip link set can0 type can bitrate 250000
ExecStartPost=/usr/sbin/ip link set can0 txqueuelen 1000
ExecStartPost=/usr/sbin/ip link set can0 up
ExecStop=/usr/sbin/ip link set can0 down

[Install]
WantedBy=multi-user.target
