[Unit]
Description=Orange Pi Classical CAN 2.0 USB-CAN bridge (CANable2) as can0
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/slcand -o -c -f -s5 -S 3000000 -F /dev/serial/by-id/usb-Openlight_Labs_CANable2_b158aa7_github.com_normaldotcom_canable2.git_208734A04743-if00 can0
ExecStartPost=/usr/local/bin/slcan-can0-up.sh
ExecStopPost=-/usr/sbin/ip link set down dev can0
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
